In [ ]:
import pandas as pd
import pyodbc

def mssql_connection(password: str, username: str, default_db: str = "master"):
                     server = "localhost"
                     
                     cnxn = pyodbc.connect(
                         "DRIVER={ODBC Driver 17 for SQL Server};SERVER="
                         + server
                         + ";DATABASE="
                         + default_db
                         + ";UID="
                         + username
                         + ";PWD="
                         +password
                     )
                     return cnxn

In [29]:
conn = mssql_connection(password= "CCny23747149" , username= "Sadiafaruque149" , default_db="summer_2022")

In [30]:
laguardia_revenue_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Zone = 'LaGuardia Airport'", conn)

In [31]:

laguardia_revenue_2017_df

       total_amount
0               7.8
1               7.8
2               7.8
3               7.8
4               7.8
...             ...
133250         10.8
133251         10.8
133252          6.8
133253          7.8
133254          8.8

[133255 rows x 1 columns]

In [32]:
print(laguardia_revenue_2017_df.dtypes)

total_amount    object
dtype: object

In [33]:
laguardia_revenue_2017_df['total_amount'] = pd.to_numeric(laguardia_revenue_2017_df['total_amount'])

In [34]:
print(laguardia_revenue_2017_df.dtypes)

total_amount    float64
dtype: object

In [35]:
laguardia_revenue_2017_df.sum()

total_amount    3486432.37
dtype: float64

In [36]:
queens_dropoffs_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Queens'", conn)

In [37]:
queens_dropoffs_2017_df['total_amount'] = pd.to_numeric(queens_dropoffs_2017_df['total_amount'])

In [38]:
queens_dropoffs_2017_df.sum()

total_amount    46291046.52
dtype: float64

In [39]:
queens_dropoffs_2018_df = pd.read_sql("SELECT total_amount FROM [2018_taxi_trips] LEFT JOIN taxi_zones ON [2018_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Queens'", conn)

In [40]:
queens_dropoffs_2018_df['total_amount'] = pd.to_numeric(queens_dropoffs_2018_df['total_amount'])

In [41]:
queens_dropoffs_2018_df.sum()

total_amount    37382837.3
dtype: float64

In [42]:
queens_dropoffs_2019_df = pd.read_sql("SELECT total_amount FROM [2019_taxi_trips] LEFT JOIN taxi_zones ON [2019_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Queens'", conn)

In [43]:
queens_dropoffs_2019_df['total_amount'] = pd.to_numeric(queens_dropoffs_2019_df['total_amount'])

In [44]:
queens_dropoffs_2019_df.sum()

total_amount    27665339.64
dtype: float64

In [45]:
queens_dropoffs_2020_df = pd.read_sql("SELECT total_amount FROM [2020_taxi_trips] LEFT JOIN taxi_zones ON [2020_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Queens'", conn)

In [46]:
queens_dropoffs_2020_df['total_amount'] = pd.to_numeric(queens_dropoffs_2020_df['total_amount'])

In [47]:
queens_dropoffs_2020_df.sum()

total_amount    8034318.5
dtype: float64

In [48]:
laguardia_revenue_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Zone = 'LaGuardia Airport'", conn)

In [49]:
laguardia_revenue_2017_df

       total_amount
0               5.3
1              16.8
2              16.8
3              16.8
4              16.8
...             ...
133250         17.3
133251         14.8
133252         16.8
133253         14.3
133254         17.8

[133255 rows x 1 columns]

In [50]:
print(laguardia_revenue_2017_df.dtypes)

total_amount    object
dtype: object

In [51]:
laguardia_revenue_2017_df['total_amount'] = pd.to_numeric(laguardia_revenue_2017_df['total_amount'])

In [52]:
print(laguardia_revenue_2017_df.dtypes)

total_amount    float64
dtype: object

In [53]:
laguardia_revenue_2017_df.sum()

total_amount    3486432.37
dtype: float64

In [54]:
queens_dropoffs_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Queens'", conn)

In [55]:
queens_dropoffs_2017_df['total_amount'] = pd.to_numeric(queens_dropoffs_2017_df['total_amount'])

In [56]:
queens_dropoffs_2017_df.sum()

total_amount    46291046.52
dtype: float64