In [ ]:
import pandas as pd
import pyodbc

def mssql_connection(password: str, username: str, default_db: str = "master"):
                     server = "localhost"
                     
                     cnxn = pyodbc.connect(
                         "DRIVER={ODBC Driver 17 for SQL Server};SERVER="
                         + server
                         + ";DATABASE="
                         + default_db
                         + ";UID="
                         + username
                         + ";PWD="
                         +password
                     )
                     return cnxn

In [ ]:
conn = mssql_connection(password= "" , username= "" , default_db="summer_2022")

In [ ]:
laguardia_revenue_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Zone = 'LaGuardia Airport'", conn)

In [ ]:

laguardia_revenue_2017_df

<<<<<<< local <modified: text/html, text/plain>

       total_amount
0               7.3
1               7.3
2              11.3
3              11.3
4              11.3
...             ...
133250         12.3
133251         12.3
133252         12.3
133253         12.3
133254         12.3

[133255 rows x 1 columns]

=======

       total_amount
0               5.8
1               5.8
2               5.8
3              12.3
4              12.3
...             ...
133250        36.67
133251        34.87
133252        43.87
133253        47.58
133254        35.06

[133255 rows x 1 columns]

>>>>>>> remote <modified: text/html, text/plain>

In [ ]:
print(laguardia_revenue_2017_df.dtypes)

total_amount    object
dtype: object

In [ ]:
laguardia_revenue_2017_df['total_amount'] = pd.to_numeric(laguardia_revenue_2017_df['total_amount'])

In [ ]:
print(laguardia_revenue_2017_df.dtypes)

total_amount    float64
dtype: object

In [ ]:
laguardia_revenue_2017_df.sum()

total_amount    3486432.37
dtype: float64

In [66]:
queens_dropoffs_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Queens'", conn)

In [67]:
queens_dropoffs_2017_df['total_amount'] = pd.to_numeric(queens_dropoffs_2017_df['total_amount'])

In [68]:
queens_dropoffs_2017_df.sum()

total_amount    46291046.52
dtype: float64

In [69]:
queens_dropoffs_2018_df = pd.read_sql("SELECT total_amount FROM [2018_taxi_trips] LEFT JOIN taxi_zones ON [2018_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Queens'", conn)

In [70]:
queens_dropoffs_2018_df['total_amount'] = pd.to_numeric(queens_dropoffs_2018_df['total_amount'])

In [71]:
queens_dropoffs_2018_df.sum()

total_amount    37382837.3
dtype: float64

In [72]:
queens_dropoffs_2019_df = pd.read_sql("SELECT total_amount FROM [2019_taxi_trips] LEFT JOIN taxi_zones ON [2019_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Queens'", conn)

In [73]:
queens_dropoffs_2019_df['total_amount'] = pd.to_numeric(queens_dropoffs_2019_df['total_amount'])

In [74]:
queens_dropoffs_2019_df.sum()

total_amount    27665339.64
dtype: float64

In [25]:
queens_dropoffs_2020_df = pd.read_sql("SELECT total_amount FROM [2020_taxi_trips] LEFT JOIN taxi_zones ON [2020_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Queens'", conn)

In [26]:
queens_dropoffs_2020_df['total_amount'] = pd.to_numeric(queens_dropoffs_2020_df['total_amount'])

In [27]:
queens_dropoffs_2020_df.sum()

total_amount    8034318.5
dtype: float64

In [43]:
manhattan_dropoffs_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Manhattan'", conn)

In [44]:
manhattan_dropoffs_2017_df['total_amount'] = pd.to_numeric(manhattan_dropoffs_2017_df['total_amount'])

In [45]:
manhattan_dropoffs_2017_df.sum()

total_amount    62565971.38
dtype: float64

In [46]:
manhattan_dropoffs_2018_df = pd.read_sql("SELECT total_amount FROM [2018_taxi_trips] LEFT JOIN taxi_zones ON [2018_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Manhattan'", conn)

In [47]:
manhattan_dropoffs_2018_df['total_amount'] = pd.to_numeric(manhattan_dropoffs_2018_df['total_amount'])

In [48]:
manhattan_dropoffs_2018_df.sum()

total_amount    50505523.37
dtype: float64

In [49]:
manhattan_dropoffs_2019_df = pd.read_sql("SELECT total_amount FROM [2019_taxi_trips] LEFT JOIN taxi_zones ON [2019_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Manhattan'", conn)

In [50]:
manhattan_dropoffs_2019_df['total_amount'] = pd.to_numeric(manhattan_dropoffs_2019_df['total_amount'])

In [51]:
manhattan_dropoffs_2019_df.sum()

total_amount    38538406.38
dtype: float64

In [21]:
manhattan_dropoffs_2020_df = pd.read_sql("SELECT total_amount FROM [2020_taxi_trips] LEFT JOIN taxi_zones ON [2020_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Manhattan'", conn)

In [22]:
manhattan_dropoffs_2020_df['total_amount'] = pd.to_numeric(manhattan_dropoffs_2020_df['total_amount'])

In [23]:
manhattan_dropoffs_2020_df.sum()

total_amount    12315543.0
dtype: float64

In [78]:
brooklyn_dropoffs_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Brooklyn'", conn)

In [79]:
brooklyn_dropoffs_2017_df['total_amount'] = pd.to_numeric(queens_dropoffs_2017_df['total_amount'])

In [80]:
brooklyn_dropoffs_2017_df.sum()

total_amount    46291046.52
dtype: float64

In [81]:
brooklyn_dropoffs_2018_df = pd.read_sql("SELECT total_amount FROM [2018_taxi_trips] LEFT JOIN taxi_zones ON [2018_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Brooklyn'", conn)

In [82]:
brooklyn_dropoffs_2018_df['total_amount'] = pd.to_numeric(queens_dropoffs_2018_df['total_amount'])

In [83]:
brooklyn_dropoffs_2018_df.sum()

total_amount    35093407.18
dtype: float64

In [84]:
brooklyn_dropoffs_2019_df = pd.read_sql("SELECT total_amount FROM [2019_taxi_trips] LEFT JOIN taxi_zones ON [2019_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Brooklyn'", conn)

In [85]:
brooklyn_dropoffs_2019_df['total_amount'] = pd.to_numeric(queens_dropoffs_2019_df['total_amount'])

In [86]:
brooklyn_dropoffs_2019_df.sum()

total_amount    24137883.44
dtype: float64

In [89]:
brooklyn_dropoffs_2020_df = pd.read_sql("SELECT total_amount FROM [2020_taxi_trips] LEFT JOIN taxi_zones ON [2020_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Brooklyn'", conn)

In [90]:
brooklyn_dropoffs_2020_df['total_amount'] = pd.to_numeric(queens_dropoffs_2020_df['total_amount'])

In [92]:
brooklyn_dropoffs_2020_df.sum()

total_amount    8034318.5
dtype: float64

In [10]:
conn = mssql_connection(password= "CCny23747149" , username= "Sadiafaruque149" , default_db="summer_2022")

In [11]:
bronx_dropoffs_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Bronx'", conn)

In [13]:
bronx_dropoffs_2017_df['total_amount'] = pd.to_numeric(bronx_dropoffs_2017_df['total_amount'])

In [14]:
bronx_dropoffs_2017_df.sum()

total_amount    9928249.64
dtype: float64

In [15]:
bronx_dropoffs_2018_df = pd.read_sql("SELECT total_amount FROM [2018_taxi_trips] LEFT JOIN taxi_zones ON [2018_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Bronx'", conn)

In [16]:
bronx_dropoffs_2018_df['total_amount'] = pd.to_numeric(bronx_dropoffs_2018_df['total_amount'])

In [17]:
bronx_dropoffs_2018_df.sum()

total_amount    11379278.97
dtype: float64

In [ ]:
import pandas as pd
import pyodbc

def mssql_connection(password: str, username: str, default_db: str = "master"):
                     server = "localhost"
                     
                     cnxn = pyodbc.connect(
                         "DRIVER={ODBC Driver 17 for SQL Server};SERVER="
                         + server
                         + ";DATABASE="
                         + default_db
                         + ";UID="
                         + username
                         + ";PWD="
                         +password
                     )
                     return cnxn
conn = mssql_connection(password= "" , username= "" , default_db="summer_2022")

In [18]:
bronx_dropoffs_2019_df = pd.read_sql("SELECT total_amount FROM [2019_taxi_trips] LEFT JOIN taxi_zones ON [2019_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Bronx'", conn)

In [19]:
bronx_dropoffs_2019_df['total_amount'] = pd.to_numeric(bronx_dropoffs_2019_df['total_amount'])

In [ ]:
bronx_dropoffs_2019_df.sum()

In [ ]:
bronx_dropoffs_2020_df = pd.read_sql("SELECT total_amount FROM [2020_taxi_trips] LEFT JOIN taxi_zones ON [2020_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Bronx'", conn)

In [ ]:
bronx_dropoffs_2020_df['total_amount'] = pd.to_numeric(bronx_dropoffs_2020_df['total_amount'])

In [ ]:
brooklyn_dropoffs_2020_df.sum()