In [13]:
import pandas as pd
import pyodbc

def mssql_connection(password: str, username: str, default_db: str = "master"):
                     server = "localhost"
                     
                     cnxn = pyodbc.connect(
                         "DRIVER={ODBC Driver 17 for SQL Server};SERVER="
                         + server
                         + ";DATABASE="
                         + default_db
                         + ";UID="
                         + username
                         + ";PWD="
                         +password
                     )
                     return cnxn

In [14]:
conn = mssql_connection(password= "" , username= "" , default_db="summer_2022")

In [15]:
laguardia_revenue_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Zone = 'LaGuardia Airport'", conn)

In [16]:
laguardia_revenue_2017_df

       total_amount
0               7.3
1               7.3
2              11.3
3              11.3
4              11.3
...             ...
133250         12.3
133251         12.3
133252         12.3
133253         12.3
133254         12.3

[133255 rows x 1 columns]

In [17]:
print(laguardia_revenue_2017_df.dtypes)

total_amount    object
dtype: object

In [18]:
laguardia_revenue_2017_df['total_amount'] = pd.to_numeric(laguardia_revenue_2017_df['total_amount'])

In [19]:
print(laguardia_revenue_2017_df.dtypes)

total_amount    float64
dtype: object

In [20]:
laguardia_revenue_2017_df.sum()

total_amount    3486432.37
dtype: float64

In [21]:
queens_dropoffs_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Queens'", conn)

In [22]:
queens_dropoffs_2017_df['total_amount'] = pd.to_numeric(queens_dropoffs_2017_df['total_amount'])

In [23]:
queens_dropoffs_2017_df.sum()

total_amount    46291046.52
dtype: float64

In [39]:
queens_dropoffs_2018_df = pd.read_sql("SELECT total_amount FROM [2018_taxi_trips] LEFT JOIN taxi_zones ON [2018_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Queens'", conn)
queens_dropoffs_2018_df['total_amount'] = pd.to_numeric(queens_dropoffs_2018_df['total_amount'])
queens_dropoffs_2018_df.sum()

total_amount    37382837.3
dtype: float64

In [41]:
queens_dropoffs_2019_df = pd.read_sql("SELECT total_amount FROM [2019_taxi_trips] LEFT JOIN taxi_zones ON [2019_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Queens'", conn)
queens_dropoffs_2019_df['total_amount'] = pd.to_numeric(queens_dropoffs_2019_df['total_amount'])
queens_dropoffs_2019_df.sum()

total_amount    27665339.64
dtype: float64

In [42]:
queens_dropoffs_2020_df = pd.read_sql("SELECT total_amount FROM [2020_taxi_trips] LEFT JOIN taxi_zones ON [2020_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Queens'", conn)
queens_dropoffs_2020_df['total_amount'] = pd.to_numeric(queens_dropoffs_2020_df['total_amount'])
queens_dropoffs_2020_df.sum()

total_amount    8034318.5
dtype: float64

In [43]:
manhattan_dropoffs_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Manhattan'", conn)

In [44]:
manhattan_dropoffs_2017_df['total_amount'] = pd.to_numeric(manhattan_dropoffs_2017_df['total_amount'])

In [45]:
manhattan_dropoffs_2017_df.sum()

total_amount    62565971.38
dtype: float64

In [46]:
manhattan_dropoffs_2018_df = pd.read_sql("SELECT total_amount FROM [2018_taxi_trips] LEFT JOIN taxi_zones ON [2018_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Manhattan'", conn)

In [47]:
manhattan_dropoffs_2018_df['total_amount'] = pd.to_numeric(manhattan_dropoffs_2018_df['total_amount'])

In [48]:
manhattan_dropoffs_2018_df.sum()

total_amount    50505523.37
dtype: float64

In [49]:
manhattan_dropoffs_2019_df = pd.read_sql("SELECT total_amount FROM [2019_taxi_trips] LEFT JOIN taxi_zones ON [2019_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Manhattan'", conn)

In [50]:
manhattan_dropoffs_2019_df['total_amount'] = pd.to_numeric(manhattan_dropoffs_2019_df['total_amount'])

In [51]:
manhattan_dropoffs_2019_df.sum()

total_amount    38538406.38
dtype: float64

In [52]:
manhattan_dropoffs_2020_df = pd.read_sql("SELECT total_amount FROM [2020_taxi_trips] LEFT JOIN taxi_zones ON [2020_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Manhattan'", conn)

In [53]:
manhattan_dropoffs_2020_df['total_amount'] = pd.to_numeric(manhattan_dropoffs_2020_df['total_amount'])

In [54]:
manhattan_dropoffs_2020_df.sum()

total_amount    12315543.0
dtype: float64