In [6]:
import pandas as pd
import pyodbc

def mssql_connection(password: str, username: str, default_db: str = "master"):
                     server = "localhost"
                     
                     cnxn = pyodbc.connect(
                         "DRIVER={ODBC Driver 17 for SQL Server};SERVER="
                         + server
                         + ";DATABASE="
                         + default_db
                         + ";UID="
                         + username
                         + ";PWD="
                         +password
                     )
                     return cnxn

In [7]:
conn = mssql_connection(password= "CCny23881629" , username= "kaylacephus29" , default_db="summer_2022")

In [8]:
laguardia_revenue_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Zone = 'LaGuardia Airport'", conn)

In [9]:

laguardia_revenue_2017_df

       total_amount
0               6.8
1              12.3
2              12.3
3              12.3
4              12.3
...             ...
133250        53.16
133251        45.96
133252        38.76
133253        52.45
133254         40.3

[133255 rows x 1 columns]

In [10]:
print(laguardia_revenue_2017_df.dtypes)

total_amount    object
dtype: object

In [11]:
laguardia_revenue_2017_df['total_amount'] = pd.to_numeric(laguardia_revenue_2017_df['total_amount'])

In [12]:
print(laguardia_revenue_2017_df.dtypes)

total_amount    float64
dtype: object

In [13]:
laguardia_revenue_2017_df.sum()

total_amount    3486432.37
dtype: float64

In [14]:
queens_dropoffs_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Queens'", conn)

In [15]:
queens_dropoffs_2017_df['total_amount'] = pd.to_numeric(queens_dropoffs_2017_df['total_amount'])

In [16]:
queens_dropoffs_2017_df.sum()

total_amount    46291046.52
dtype: float64

In [17]:
queens_dropoffs_2018_df = pd.read_sql("SELECT total_amount FROM [2018_taxi_trips] LEFT JOIN taxi_zones ON [2018_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Queens'", conn)

In [18]:
queens_dropoffs_2018_df['total_amount'] = pd.to_numeric(queens_dropoffs_2018_df['total_amount'])

In [19]:
queens_dropoffs_2018_df.sum()

total_amount    37382837.3
dtype: float64

In [20]:
queens_dropoffs_2019_df = pd.read_sql("SELECT total_amount FROM [2019_taxi_trips] LEFT JOIN taxi_zones ON [2019_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Queens'", conn)

In [21]:
queens_dropoffs_2019_df['total_amount'] = pd.to_numeric(queens_dropoffs_2019_df['total_amount'])

In [22]:
queens_dropoffs_2019_df.sum()

total_amount    27665339.64
dtype: float64

In [23]:
queens_dropoffs_2020_df = pd.read_sql("SELECT total_amount FROM [2020_taxi_trips] LEFT JOIN taxi_zones ON [2020_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Queens'", conn)

In [24]:
queens_dropoffs_2020_df['total_amount'] = pd.to_numeric(queens_dropoffs_2020_df['total_amount'])

In [25]:
queens_dropoffs_2020_df.sum()

total_amount    8034318.5
dtype: float64

In [26]:
manhattan_dropoffs_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Manhattan'", conn)

In [27]:
manhattan_dropoffs_2017_df['total_amount'] = pd.to_numeric(manhattan_dropoffs_2017_df['total_amount'])

In [28]:
manhattan_dropoffs_2017_df.sum()

total_amount    62565971.38
dtype: float64

In [29]:
manhattan_dropoffs_2018_df = pd.read_sql("SELECT total_amount FROM [2018_taxi_trips] LEFT JOIN taxi_zones ON [2018_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Manhattan'", conn)

In [30]:
manhattan_dropoffs_2018_df['total_amount'] = pd.to_numeric(manhattan_dropoffs_2018_df['total_amount'])

In [31]:
manhattan_dropoffs_2018_df.sum()

total_amount    50505523.37
dtype: float64

In [32]:
manhattan_dropoffs_2019_df = pd.read_sql("SELECT total_amount FROM [2019_taxi_trips] LEFT JOIN taxi_zones ON [2019_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Manhattan'", conn)

In [33]:
manhattan_dropoffs_2019_df['total_amount'] = pd.to_numeric(manhattan_dropoffs_2019_df['total_amount'])

In [34]:
manhattan_dropoffs_2019_df.sum()

total_amount    38538406.38
dtype: float64

In [35]:
manhattan_dropoffs_2020_df = pd.read_sql("SELECT total_amount FROM [2020_taxi_trips] LEFT JOIN taxi_zones ON [2020_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Manhattan'", conn)

In [36]:
manhattan_dropoffs_2020_df['total_amount'] = pd.to_numeric(manhattan_dropoffs_2020_df['total_amount'])

In [37]:
manhattan_dropoffs_2020_df.sum()

total_amount    12315543.0
dtype: float64

In [38]:
brooklyn_dropoffs_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Brooklyn'", conn)

In [39]:
brooklyn_dropoffs_2017_df['total_amount'] = pd.to_numeric(queens_dropoffs_2017_df['total_amount'])

In [40]:
brooklyn_dropoffs_2017_df.sum()

total_amount    46291046.52
dtype: float64

In [41]:
brooklyn_dropoffs_2018_df = pd.read_sql("SELECT total_amount FROM [2018_taxi_trips] LEFT JOIN taxi_zones ON [2018_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Brooklyn'", conn)

In [42]:
brooklyn_dropoffs_2018_df['total_amount'] = pd.to_numeric(queens_dropoffs_2018_df['total_amount'])

In [43]:
brooklyn_dropoffs_2018_df.sum()

total_amount    35043642.93
dtype: float64

In [44]:
brooklyn_dropoffs_2019_df = pd.read_sql("SELECT total_amount FROM [2019_taxi_trips] LEFT JOIN taxi_zones ON [2019_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Brooklyn'", conn)

In [45]:
brooklyn_dropoffs_2019_df['total_amount'] = pd.to_numeric(queens_dropoffs_2019_df['total_amount'])

In [46]:
brooklyn_dropoffs_2019_df.sum()

total_amount    24131131.4
dtype: float64

In [47]:
brooklyn_dropoffs_2020_df = pd.read_sql("SELECT total_amount FROM [2020_taxi_trips] LEFT JOIN taxi_zones ON [2020_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Brooklyn'", conn)

In [48]:
brooklyn_dropoffs_2020_df['total_amount'] = pd.to_numeric(queens_dropoffs_2020_df['total_amount'])

In [49]:
brooklyn_dropoffs_2020_df.sum()

total_amount    8034318.5
dtype: float64

In [50]:
bronx_dropoffs_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Bronx'", conn)

In [51]:
bronx_dropoffs_2017_df['total_amount'] = pd.to_numeric(bronx_dropoffs_2017_df['total_amount'])

In [52]:
bronx_dropoffs_2017_df.sum()

total_amount    9928249.64
dtype: float64

In [53]:
bronx_dropoffs_2018_df = pd.read_sql("SELECT total_amount FROM [2018_taxi_trips] LEFT JOIN taxi_zones ON [2018_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Bronx'", conn)

In [54]:
bronx_dropoffs_2018_df['total_amount'] = pd.to_numeric(bronx_dropoffs_2018_df['total_amount'])

In [55]:
bronx_dropoffs_2018_df.sum()

total_amount    11379278.97
dtype: float64

In [56]:
bronx_dropoffs_2019_df = pd.read_sql("SELECT total_amount FROM [2019_taxi_trips] LEFT JOIN taxi_zones ON [2019_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Bronx'", conn)

In [57]:
bronx_dropoffs_2019_df['total_amount'] = pd.to_numeric(bronx_dropoffs_2019_df['total_amount'])

In [58]:
bronx_dropoffs_2019_df.sum()

total_amount    9899715.19
dtype: float64

In [59]:
bronx_dropoffs_2020_df = pd.read_sql("SELECT total_amount FROM [2020_taxi_trips] LEFT JOIN taxi_zones ON [2020_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Bronx'", conn)

In [60]:
bronx_dropoffs_2020_df['total_amount'] = pd.to_numeric(bronx_dropoffs_2020_df['total_amount'])

In [61]:
bronx_dropoffs_2020_df.sum()

total_amount    4776169.87
dtype: float64

In [62]:
statenisland_dropoffs_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Staten Island'", conn)

In [63]:
statenisland_dropoffs_2017_df['total_amount'] = pd.to_numeric(statenisland_dropoffs_2017_df['total_amount'])

In [64]:
statenisland_dropoffs_2017_df.sum()

total_amount    195428.88
dtype: float64

In [65]:
statenisland_dropoffs_2018_df = pd.read_sql("SELECT total_amount FROM [2018_taxi_trips] LEFT JOIN taxi_zones ON [2018_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Staten Island'", conn)

In [66]:
statenisland_dropoffs_2018_df['total_amount'] = pd.to_numeric(statenisland_dropoffs_2018_df['total_amount'])

In [67]:
statenisland_dropoffs_2018_df.sum()

total_amount    326057.54
dtype: float64

In [68]:
statenisland_dropoffs_2019_df = pd.read_sql("SELECT total_amount FROM [2019_taxi_trips] LEFT JOIN taxi_zones ON [2019_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Staten Island'", conn)

In [69]:
statenisland_dropoffs_2019_df['total_amount'] = pd.to_numeric(statenisland_dropoffs_2019_df['total_amount'])

In [70]:
statenisland_dropoffs_2019_df.sum()

total_amount    259603.82
dtype: float64

In [71]:
statenisland_dropoffs_2020_df = pd.read_sql("SELECT total_amount FROM [2020_taxi_trips] LEFT JOIN taxi_zones ON [2020_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Staten Island'", conn)

In [72]:
statenisland_dropoffs_2020_df['total_amount'] = pd.to_numeric(statenisland_dropoffs_2020_df['total_amount'])

In [73]:
statenisland_dropoffs_2020_df.sum()

total_amount    141605.27
dtype: float64

In [74]:
unknown_dropoffs_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Unknown'", conn)

In [75]:
unknown_dropoffs_2017_df['total_amount'] = pd.to_numeric(unknown_dropoffs_2017_df['total_amount'])

In [76]:
unknown_dropoffs_2017_df.sum()

total_amount    1425060.7
dtype: float64

In [77]:
unknown_dropoffs_2018_df = pd.read_sql("SELECT total_amount FROM [2018_taxi_trips] LEFT JOIN taxi_zones ON [2018_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Unknown'", conn)

In [78]:
unknown_dropoffs_2018_df['total_amount'] = pd.to_numeric(statenisland_dropoffs_2018_df['total_amount'])

In [79]:
unknown_dropoffs_2018_df.sum()

total_amount    326057.54
dtype: float64

In [80]:
unknown_dropoffs_2019_df = pd.read_sql("SELECT total_amount FROM [2019_taxi_trips] LEFT JOIN taxi_zones ON [2019_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Unknown'", conn)

In [81]:
unknown_dropoffs_2019_df['total_amount'] = pd.to_numeric(unknown_dropoffs_2019_df['total_amount'])

In [82]:
unknown_dropoffs_2019_df.sum()

total_amount    1297115.75
dtype: float64

In [83]:
unknown_dropoffs_2020_df = pd.read_sql("SELECT total_amount FROM [2020_taxi_trips] LEFT JOIN taxi_zones ON [2020_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Unknown'", conn)

In [84]:
unknown_dropoffs_2020_df['total_amount'] = pd.to_numeric(unknown_dropoffs_2020_df['total_amount'])

In [85]:
unknown_dropoffs_2020_df.sum()

total_amount    410474.82
dtype: float64

In [86]:
newarkairport_dropoffs_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Zone = 'Newark Airport'", conn)

In [87]:
newarkairport_dropoffs_2017_df['total_amount'] = pd.to_numeric(newarkairport_dropoffs_2017_df['total_amount'])

In [88]:
newarkairport_dropoffs_2017_df.sum()

total_amount    459698.67
dtype: float64

In [89]:
newarkairport_dropoffs_2018_df = pd.read_sql("SELECT total_amount FROM [2018_taxi_trips] LEFT JOIN taxi_zones ON [2018_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Zone = 'Newark Airport'", conn)

In [90]:
newarkairport_dropoffs_2018_df['total_amount'] = pd.to_numeric(newarkairport_dropoffs_2018_df['total_amount'])

In [91]:
newarkairport_dropoffs_2018_df.sum()

total_amount    298594.12
dtype: float64

In [92]:
newarkairport_dropoffs_2019_df = pd.read_sql("SELECT total_amount FROM [2019_taxi_trips] LEFT JOIN taxi_zones ON [2019_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Zone = 'Newark Airport'", conn)

In [93]:
newarkairport_dropoffs_2019_df['total_amount'] = pd.to_numeric(newarkairport_dropoffs_2019_df['total_amount'])

In [94]:
newarkairport_dropoffs_2019_df.sum()

total_amount    208490.38
dtype: float64

In [95]:
newarkairport_dropoffs_2020_df = pd.read_sql("SELECT total_amount FROM [2020_taxi_trips] LEFT JOIN taxi_zones ON [2020_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Zone = 'Newark Airport'", conn)

In [96]:
newarkairport_dropoffs_2020_df['total_amount'] = pd.to_numeric(newarkairport_dropoffs_2020_df['total_amount'])

In [97]:
newarkairport_dropoffs_2020_df.sum()

total_amount    36971.76
dtype: float64