In [ ]:
import pandas as pd
import pyodbc

def mssql_connection(password: str, username: str, default_db: str = "master"):
                     server = "localhost"
                     
                     cnxn = pyodbc.connect(
                         "DRIVER={ODBC Driver 17 for SQL Server};SERVER="
                         + server
                         + ";DATABASE="
                         + default_db
                         + ";UID="
                         + username
                         + ";PWD="
                         +password
                     )
                     return cnxn

In [29]:
conn = mssql_connection(password= "" , username= "" , default_db="summer_2022")

In [60]:
laguardia_revenue_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Zone = 'LaGuardia Airport'", conn)

In [61]:

laguardia_revenue_2017_df

       total_amount
0               5.8
1               5.8
2               5.8
3              12.3
4              12.3
...             ...
133250        36.67
133251        34.87
133252        43.87
133253        47.58
133254        35.06

[133255 rows x 1 columns]

In [62]:
print(laguardia_revenue_2017_df.dtypes)

total_amount    object
dtype: object

In [63]:
laguardia_revenue_2017_df['total_amount'] = pd.to_numeric(laguardia_revenue_2017_df['total_amount'])

In [64]:
print(laguardia_revenue_2017_df.dtypes)

total_amount    float64
dtype: object

In [65]:
laguardia_revenue_2017_df.sum()

total_amount    3486432.37
dtype: float64

In [66]:
queens_dropoffs_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Queens'", conn)

In [67]:
queens_dropoffs_2017_df['total_amount'] = pd.to_numeric(queens_dropoffs_2017_df['total_amount'])

In [68]:
queens_dropoffs_2017_df.sum()

total_amount    46291046.52
dtype: float64

In [69]:
queens_dropoffs_2018_df = pd.read_sql("SELECT total_amount FROM [2018_taxi_trips] LEFT JOIN taxi_zones ON [2018_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Queens'", conn)

In [70]:
queens_dropoffs_2018_df['total_amount'] = pd.to_numeric(queens_dropoffs_2018_df['total_amount'])

In [71]:
queens_dropoffs_2018_df.sum()

total_amount    37382837.3
dtype: float64

In [72]:
queens_dropoffs_2019_df = pd.read_sql("SELECT total_amount FROM [2019_taxi_trips] LEFT JOIN taxi_zones ON [2019_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Queens'", conn)

In [73]:
queens_dropoffs_2019_df['total_amount'] = pd.to_numeric(queens_dropoffs_2019_df['total_amount'])

In [74]:
queens_dropoffs_2019_df.sum()

total_amount    27665339.64
dtype: float64

In [75]:
queens_dropoffs_2020_df = pd.read_sql("SELECT total_amount FROM [2020_taxi_trips] LEFT JOIN taxi_zones ON [2020_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Queens'", conn)

In [76]:
queens_dropoffs_2020_df['total_amount'] = pd.to_numeric(queens_dropoffs_2020_df['total_amount'])

In [77]:
queens_dropoffs_2020_df.sum()

total_amount    8034318.5
dtype: float64

In [78]:
brooklyn_dropoffs_2017_df = pd.read_sql("SELECT total_amount FROM [2017_taxi_trips] LEFT JOIN taxi_zones ON [2017_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Brooklyn'", conn)

In [79]:
brooklyn_dropoffs_2017_df['total_amount'] = pd.to_numeric(queens_dropoffs_2017_df['total_amount'])

In [80]:
brooklyn_dropoffs_2017_df.sum()

total_amount    46291046.52
dtype: float64

In [81]:
brooklyn_dropoffs_2018_df = pd.read_sql("SELECT total_amount FROM [2018_taxi_trips] LEFT JOIN taxi_zones ON [2018_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Brooklyn'", conn)

In [82]:
brooklyn_dropoffs_2018_df['total_amount'] = pd.to_numeric(queens_dropoffs_2018_df['total_amount'])

In [83]:
brooklyn_dropoffs_2018_df.sum()

total_amount    35093407.18
dtype: float64

In [84]:
brooklyn_dropoffs_2019_df = pd.read_sql("SELECT total_amount FROM [2019_taxi_trips] LEFT JOIN taxi_zones ON [2019_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Brooklyn'", conn)

In [85]:
brooklyn_dropoffs_2019_df['total_amount'] = pd.to_numeric(queens_dropoffs_2019_df['total_amount'])

In [86]:
brooklyn_dropoffs_2019_df.sum()

total_amount    24137883.44
dtype: float64

In [89]:
brooklyn_dropoffs_2020_df = pd.read_sql("SELECT total_amount FROM [2020_taxi_trips] LEFT JOIN taxi_zones ON [2020_taxi_trips].DOLocationID = taxi_zones.LocationID WHERE Borough = 'Brooklyn'", conn)

In [90]:
brooklyn_dropoffs_2020_df['total_amount'] = pd.to_numeric(queens_dropoffs_2020_df['total_amount'])

In [91]:
brooklyn_dropoffs_2019_df.sum()

total_amount    24137883.44
dtype: float64